<%= provide(:title, "Contacts") %>
<h1><center><strong>CONTACT</strong></center></h1>
<p><center>
	Contact the Ruby on Rails Tutorial about the sample app at the <a href="https://www.railstutorial.org/contact">contact page</a>.
</center></p>